<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<main>
    <h3>Add Client</h3>

    <div>
        <label>Client Code:</label><br>
        <input type="text" id="ClientCode" name="ClientCode" placeholder="Client Code" class="inputs" /><br>
    </div><br>

    <div class="inputGrid">

        <div>
            <label>Client Name:</label><br>
            <input type="text" class="inputs" placeholder="Client Name" id="Client Name" /><br>

            <label>Contact Number:</label><br>
            <input type="text" class="inputs" placeholder="Contact Number" id="ClientContactNo" /><br>

            <label>Email:</label><br>
            <input type="email" class="inputs" placeholder="Email" id="ClientEmail" /><br>

            <label>Description:</label><br>
            <textarea placeholder="Description"></textarea><br>

        </div>

        <div>
            <label>Lot Number:</label><br>
            <input type="text" class="inputs" id="LotNumber" name="LotNumber" placeholder="Lot Number" /><br>

            <label>Street:</label><br>
            <input type="text" class="inputs" id="Street" name="Street" placeholder="Street" /><br>

            <label>Branagay:</label><br>
            <input type="text" class="inputs" id="Branagay" name="Branagay" placeholder="Branagay" /><br>

            <label>City:</label><br>
            <input type="text" class="inputs" id="City" name="City" placeholder="City" /><br>

            <label>Region:</label><br>
            <input type="text" class="inputs" id="Region" name="Region" placeholder="Region" /><br>

        </div>

    </div><br>


    <button class="button button1">Reset</button>
    <button class="button button2">Submit</button>

</main>