<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<main>
    <h3>Add Contractor</h3>

    <div>
        <label>Contractor code:</label><br>
        <input type="text" class="inputs" placeholder="Employee code" />
    </div><br>


    <div class="inputGrid">

        <div>
            <label>Full name:</label><br>
            <input type="text" class="inputs" placeholder="Full name" id="FullName" /><br>


            <label>Date of Birth:</label><br>
            <input type="date" class="inputs" id="birthdate" name="birthdate" /><br>

            <label>Date of Employment:</label><br>
            <input type="date" class="inputs" id="EmploymentDate" name="EmploymentDate" /><br>

            <label>Employee level:</label><br>
            <input type="text" class="inputs" id="EmployeeLevel" name="EmployeeLevel" placeholder="Employee level" /><br>

            <label>Username:</label><br>
            <input type="text" class="inputs" placeholder="Username" /><br>

            <label>Password:</label><br>
            <input type="text" class="inputs" placeholder="Password" /><br>

            <label for="email">Email:</label><br>
            <input type="email" class="inputs" id="email" name="email" placeholder="email"><br>

        </div>

        <div>
            <label>Lot Number:</label><br>
            <input type="text" class="inputs" id="LotNumber" name="LotNumber" placeholder="Lot Number" /><br>

            <label>Street:</label><br>
            <input type="text" class="inputs" id="Street" name="Street" placeholder="Street" /><br>

            <label>Branagay:</label><br>
            <input type="text" class="inputs" id="Branagay" name="Branagay" placeholder="Branagay" /><br>

            <label>City:</label><br>
            <input type="text" class="inputs" id="City" name="City" placeholder="City" /><br>

            <label>Region:</label><br>
            <input type="text" class="inputs" id="Region" name="Region" placeholder="Region" /><br>

            <label for="myfile">Insert Image:</label><br>
            <input type="file" class="inputs" id="myfile" name="myfile"><br>
        </div>

    </div><br>

    <button class="button button1">Reset</button>
    <button class="button button2">Submit</button>

</main>