<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<main>
    <h3>Add Product</h3>
    <main class="inputGrid">
        <div>
            <label>Product:</label><br>
            <input type="text" class="inputs" placeholder="Product" /><br>
        </div>

        <div>
            <label>Brand:</label><br>
            <input type="text" class="inputs" placeholder="Brand" /><br>
        </div>

        <div>
            <label>Price:</label><br>
            <input type="text" class="inputs" placeholder="Price" /><br>
        </div>

        <div>
            <label>Dimensions:</label><br>
            <input type="text" class="inputs" placeholder="Dimensions" /><br>
        </div>
    </main><br>

    <div class="description">
        <label>Description:</label><br>
        <textarea placeholder="Description"></textarea><br>
    </div><br>


    <button class="button button1">Reset</button>
    <button class="button button2">Submit</button>

</main>