<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<main>
    <h3>Add Project</h3>

    <div>
        <label>Project Code:</label><br>
        <input type="text" id="ProjectCode" name="ProjectCode" placeholder="Project Code" class="inputs" /><br>
    </div><br>

    <div class="inputGrid">

        <div>
            <label>Project Title:</label><br>
            <input type="text" class="inputs" placeholder="Project Title" id="ProjectTitle" /><br>

            <label>Contractor in Charge:</label><br>
            <input type="text" class="inputs" placeholder="Contractor in Charge" id="ContractorInCharge" /><br>

            <label>Building Type:</label><br>
            <input type="text" class="inputs" placeholder="Building Type" id="BuildingType" /><br>

            <label>Description:</label><br>
            <textarea placeholder="Description"></textarea><br>

        </div>

        <div>
            <label>Lot Number:</label><br>
            <input type="text" class="inputs" id="LotNumber" name="LotNumber" placeholder="Lot Number" /><br>

            <label>Street:</label><br>
            <input type="text" class="inputs" id="Street" name="Street" placeholder="Street" /><br>

            <label>Branagay:</label><br>
            <input type="text" class="inputs" id="Branagay" name="Branagay" placeholder="Branagay" /><br>

            <label>City:</label><br>
            <input type="text" class="inputs" id="City" name="City" placeholder="City" /><br>

            <label>Region:</label><br>
            <input type="text" class="inputs" id="Region" name="Region" placeholder="Region" /><br>

        </div>

    </div><br>


    <button class="button button1">Reset</button>
    <button class="button button2">Submit</button>

</main>