<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<main>
    <h3>Bill of Materials</h3>

    <div class="bomGrid">
        <div class="cards">
            <label>Project ID: </label> <label class="Project ID"> ----- </label> <br>
            <label>Date Submitted: </label> <label class="Date Submitted"> ----- </label> <br>
            <label>Project Cost: </label> <label class="Project Cost"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Project ID: </label> <label class="Project ID"> ----- </label> <br>
            <label>Date Submitted: </label> <label class="Date Submitted"> ----- </label> <br>
            <label>Project Cost: </label> <label class="Project Cost"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Project ID: </label> <label class="Project ID"> ----- </label> <br>
            <label>Date Submitted: </label> <label class="Date Submitted"> ----- </label> <br>
            <label>Project Cost: </label> <label class="Project Cost"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Project ID: </label> <label class="Project ID"> ----- </label> <br>
            <label>Date Submitted: </label> <label class="Date Submitted"> ----- </label> <br>
            <label>Project Cost: </label> <label class="Project Cost"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Project ID: </label> <label class="Project ID"> ----- </label> <br>
            <label>Date Submitted: </label> <label class="Date Submitted"> ----- </label> <br>
            <label>Project Cost: </label> <label class="Project Cost"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Project ID: </label> <label class="Project ID"> ----- </label> <br>
            <label>Date Submitted: </label> <label class="Date Submitted"> ----- </label> <br>
            <label>Project Cost: </label> <label class="Project Cost"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Project ID: </label> <label class="Project ID"> ----- </label> <br>
            <label>Date Submitted: </label> <label class="Date Submitted"> ----- </label> <br>
            <label>Project Cost: </label> <label class="Project Cost"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Project ID: </label> <label class="Project ID"> ----- </label> <br>
            <label>Date Submitted: </label> <label class="Date Submitted"> ----- </label> <br>
            <label>Project Cost: </label> <label class="Project Cost"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Project ID: </label> <label class="Project ID"> ----- </label> <br>
            <label>Date Submitted: </label> <label class="Date Submitted"> ----- </label> <br>
            <label>Project Cost: </label> <label class="Project Cost"> ----- </label> <br>
        </div>
    </div>

    <button class="button button3">Edit BOM</button>
    <button class="button button3">Generate MCE</button>
</main>