<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Green Asia</title>
    <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />
</head>
<body>
    <div class="main">
        <header>
            <div class="navbar">
                <div class="icon">
                    <div class="logos">
                        <img src="../../Images/greenAsiaLogo.png" alt="logo">
                    </div>
                </div>

                <div class="menu">
                    <ul>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="GenerateBOM">Generate BOM</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="BillOfMaterials">Bill of Materials</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="MaterialCostEstimate">Material Cost Estimate</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="LogIn">LogIn</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="hero">
            <h1>Green Asia <span>Construction</span> <br>and Development Corporation</h1>
        </div>
    </div>
</body>
</html>
