<!DOCTYPE html>
<html>
<head>
    <title>Frilou Construction and Trading Inc.</title>
    <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />
</head>
<body>
    <div class="main">
        <header>
            <div class="navbar">
                <div class="icon">
                    <div class="logos">
                        <img src="../../Images/logos.png" alt="logo">
                    </div>
                </div>

                <div class="menu">
                    <ul>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="GenerateBOM">Generate BOM</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="BillOfMaterials">Bill of Materials</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="MaterialCostEstimate">Material Cost Estimate</a></li>
                        <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="LogIn">LogIn</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="hero">
            <h1>Frilou <br><span>Construction</span> <br>and Trading Inc.</h1>
        </div>
    </div>
</body>
</html>
