<main>
    <h3>Material Cost Estimation</h3>

    <label style="font-weight:bold">Project ID:</label>
    <br>
    <div class="titleGrid">
        <select id="Project Title" style="height:30px" placeholder="Project Title">
            <option value="a">Proj 1</option>
            <option value="b">Proj 2</option>
            <option value="c">Proj 3</option>
            <option value="d">Proj 4</option>
        </select>
        <button class="button button1">Edit BOM</button><br><br>
    </div>

    <div>
        <table>
            <tr>
                <th>Material Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Marked Up Price</th>
                <th>Total Price</th>
            </tr>
        </table>
    </div><br><br>

    <button class="button button2">Calculate Total</button>
</main>