<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<main>
    <h3>Presets</h3>

    <div class="bomGrid">
        <div class="cards">
            <label>Preset: </label> <label class="Preset: "> ----- </label> <br>
            <label>Materials: </label> <label class="Materials:"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Preset: </label> <label class="Preset: "> ----- </label> <br>
            <label>Materials: </label> <label class="Materials:"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Preset: </label> <label class="Preset: "> ----- </label> <br>
            <label>Materials: </label> <label class="Materials:"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Preset: </label> <label class="Preset: "> ----- </label> <br>
            <label>Materials: </label> <label class="Materials:"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Preset: </label> <label class="Preset: "> ----- </label> <br>
            <label>Materials: </label> <label class="Materials:"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Project ID: </label> <label class="Project ID"> ----- </label> <br>
            <label>Date Submitted: </label> <label class="Date Submitted"> ----- </label> <br>
            <label>Project Cost: </label> <label class="Project Cost"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Preset: </label> <label class="Preset: "> ----- </label> <br>
            <label>Materials: </label> <label class="Materials:"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Preset: </label> <label class="Preset: "> ----- </label> <br>
            <label>Materials: </label> <label class="Materials:"> ----- </label> <br>
        </div>

        <div class="cards">
            <label>Preset: </label> <label class="Preset: "> ----- </label> <br>
            <label>Materials: </label> <label class="Materials:"> ----- </label> <br>
        </div>
    </div>

    <div class="TemplateAction">
        <button class="button button3" onclick="location.href='@Url.Action("AddPreset")'">Add Preset</button>
        <button class="button button3">Continue</button>
    </div>

</main>